*{
  margin: 15px;
} 

.divLeft {
  float: left;
}

.divLeft div {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

#divRight {
  border: 1px solid black;
  width: 350px;
  height: 311px;
}

#rojo {
  background-color: red;
}

#naranjo {
  background-color: orange;
}

#amarillo {
  background-color: yellow;
}

#verde {
  background-color: green;
}

#celeste {
  background-color: skyblue;
}

#rosado {
  background-color: pink;
}

#errorAsunto{
  color: red;
}
#errorNombre{
  color: red;
}
#errorMensaje{
  color: red;
}

.exito{
  color: rgb(42, 235, 42);
  font-style: italic;
}
input{
  width: 80%; /* Ocupa el 80% del ancho del contenedor padre */
  max-width: 400px; /* Ancho máximo de 400 píxeles */
}
textarea{
  width: 80%; /* Ocupa el 80% del ancho del contenedor padre */
  max-width: 400px; /* Ancho máximo de 400 píxeles */
}
.btnEnviar{
  20%
}